# Byte-compiled / optimized / DLL files
python/__pycache__/
python/*.py[cod]
python/*$py.class

# Distribution / packaging
python/.Python
python/build/
python/develop-eggs/
python/dist/
python/downloads/
python/eggs/
python/.eggs/
python/lib/
python/lib64/
python/parts/
python/sdist/
python/var/
python/wheels/
python/pip-wheel-metadata/
python/share/python-wheels/
python/*.egg-info/
python/.installed.cfg
python/*.egg
python/MANIFEST

# Jupyter Notebook
python/.ipynb_checkpoints

*/.idea
*.idea
*.iml
*.ipr

# IntelliJ
*/out/

# mpeltonen/sbt-idea plugin
*/.idea_modules/